/*.custom_options
{
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}*/
.custom_options {
    display: none;
}

.custom_options label
{
	font-weight: bold;
	width: 100%;
	clear: both;
}
.custom_options .required
{
	color: red;
}

.cart
{
	width: 100%;
}
.fmeinput
{
	width: 100%;
}
.fmecustomgroup {
    text-align: left;
    position:relative;
}
.product-small .fmecustomgroup
{
    width: 100%;
    text-align: center;
}
.multi
{
	height: 150px !important;
}


.rowTitle
{
	text-align: center;
	float: left;
	width: 75px;
	font-size: 14px;

}


.rowTitle
{
	text-align: left;
	float: left;
	width: auto;
	font-size: 14px;

}

.tprice {}
.leftprice {
	color: #000;
}
.rightprice {}

.datepick, .timepick
{
	width: 60%;
	float: left;
}
.ui-datepicker-trigger
{
	margin-left: 5px;
	cursor: pointer;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr th, .woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr th {
    width: auto !important;
}
.product_meta {
    display:none;
}
.chili_container_for_format{
    display:inline-block;
    vertical-align: bottom;
    line-height: 40px;
}
.product-lightbox .chili_container_for_format {
    vertical-align: middle;
}
.product-small .choose_format_here_chili{
	vertical-align:top;
	display:inline-block;
	padding:3px;
	border:1px solid rgba(0,0,0,0.0);
}
.product-small .choose_format_here_chili:hover{
	background:ghostwhite;
	border:1px solid rgba(0,0,0,0.1);
}
.product-small .choose_format_here_chili img {
    width:20px;
    height: auto !important;
}
.choose_format_here_chili img {
    width:45px;
    height: auto;
    cursor:pointer;
    object-fit: contain;
}
.product-small .choose_format_here_chili_selected{
	background:ghostwhite;
	border:1px solid rgba(0,0,0,0.1);
}
/*.product-image{
	height:250px;
	width:250px;
        margin: 0 auto;
}*/
.product-image img{

}
.wcafp_disabled_button {
/*    opacity:.5;
    cursor: not-allowed !important;
    background-image: none !important;*/
}
li.product-small .price_total {
	display:none;
}
.arrow_for_both_in_chili_formats{
	height:20px;
        width:20px;
        display: inline-block;
        position: absolute;
        z-index: 101;
}
.product-lightbox .arrow_for_both_in_chili_formats, .product-page .arrow_for_both_in_chili_formats {
        top: 50%;
}
.product-small .arrow_for_both_in_chili_formats{
        top: 30%;
}
.arrow_for_both_in_chili_formats.arrow_left {
    left: -20px;
}
.arrow_for_both_in_chili_formats.arrow_right {
    right: -20px;
}
.product-small .arrow_for_both_in_chili_formats.arrow_left {
    left: 0;
}
.product-small .arrow_for_both_in_chili_formats.arrow_right {
    right: 0;
}
.quick-view{
	display:none;
}

.formatTitle {
    text-decoration: none;
    color: #5F5C5C;
    font-size: 12px;
}
.product-small .formatTitle {
    text-transform: uppercase;
}
.product-lightbox .formatTitle {
    margin-top: 10px;
    margin-bottom: 0;
}

.choose_format_here_chili_title{
    display: none;
}

.choose_format_here_chili_title.format_title_selected{
    display: block;
}
.product-small .arrow_for_both_in_chili_formats svg{
	stroke:rgba(0,0,0,0.1);
	fill:lightgrey;
}
.sider_go_fma_product_title{
	display:none;
}
.product-page .sider_go_fma_product_title{
	
}
.product-small .sider_go_fma_product_title{
	display:none;
}

.flickity-slider .slide-shadow-wrap{
     
}
.flickity-slider .slide-middle, .transform.active, li.product-small.forced-folding .product-image .fold-shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
}
.flickity-slider .slide-top, .flickity-slider .slide-top-plh{
    height: 40px;
}

.flickity-slider .slide-bottom, .flickity-slider .slide-bottom-plh{
    height: 40px;
}

.flickity-viewport{
    overflow: visible !important;
}

.flickity-slider .slide-top, .flickity-slider .slide-shadow-left, .flickity-slider .slide-shadow-right, .flickity-slider .slide-top, .flickity-slider .slide-bottom, li.product-small.forced-folding .product-image{
    -webkit-perspective:3000px;
    perspective:3000px;
}

.flickity-slider .slide-shadow-left, .flickity-slider .slide-shadow-right{
    height:100px;
}

.flickity-slider .slide-shadow-wrap{
    
}

.transform-third, .transform-second{
    top:0;
}

.flickity-slider{
    
}
.flickity-slider .slide-middle{
    z-index: 1;
}
.flickity-slider .transform-first, li.product-small.vertical2page .product-image .fold-shadow{
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    top: 40px;
}

.flickity-slider .transform-last{
    -webkit-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    top: 40px;
}

.flickity-slider .transform-h-first.active, li.product-small.horizontal2page .product-image .fold-shadow{
    -webkit-transform: rotateX(30deg);
    transform: rotateX(30deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    z-index: 0;
}

.flickity-slider .transform-h-last.active{
    -webkit-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
    -webkit-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    z-index: 0;
}

.upsidedown{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.flickity-slider .transform-h-third{
    -webkit-transform: rotateX(-78deg);
    transform: rotateX(-78deg);
    -webkit-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    
    bottom:0;
}
.flickity-slider .transform-h-second{
    -webkit-transform: rotateX(78deg);
    transform: rotateX(78deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    
    top:0;
}

.flickity-slider .transform{
    position:absolute;
}

.transform img{
    display:block;
    opacity:.6;
    max-height: none;
    max-width: none;
}

.flickity-slider .transform-second{
    -webkit-transform: rotateY(-78deg);
    transform: rotateY(-78deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    
    left:0;
}

.flickity-slider .transform-third{
    -webkit-transform: rotateY(78deg);
    transform: rotateY(78deg);
    -webkit-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    
    right:0;
}

.folding-vertical2page img{
    max-width: none;
}
.folding-vertical2page a, .folding-horizontal2page a{
    overflow: hidden;
    position: relative;
}

li.product-small .product-image img{
     max-height: 100%;
     margin: 0 auto;
}

li.product-small.forced-folding .product-image img{
    width: 100%;
}

li.product-small.forced-folding.vertical2page .product-image img{
    max-width: none;
    max-height: none;

    right: 0;
}

li.product-small.forced-folding.horizontal2page .product-image img{
    max-width: none;
    max-height: none;

    bottom: 0;
    left:0;
    
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

li.product-small .product-image .fold-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

li.product-small.vertical2page .product-image{
    perspective-origin: 0 -150%;
}
li.product-small.horizontal2page .product-image{
    perspective-origin: -150% 0;
}

li.product-small .product-image .fold-wrap{
    position: absolute;
    left: 50%;
}

li.product-small .product-image .fold-shadow, li.product-small.vertical2page .product-image .fold-shadow{
    position: absolute;
    top:-1px;
    left: 50%;
    background: rgba(0,0,0,.1);
}

li.product-small .product-image .fold-shadow, li.product-small.horizontal2page .product-image .fold-shadow{
    top:0;
}

.flickity-slider .folding-vertical2page div.transform, .flickity-slider .folding-horizontal2page div.transform{
    overflow: hidden;
}

.lightboxFormatSize {
    font-size: 10px;
}

.product-small .lightboxFormatSize {
    display: none;
}

.quantity_select {
    display: inline;
}
