.adminFormatIcon{
    max-height:20px;
    max-width: 20px;
}
.datatable
{
    text-align: left;
}
.datath1
{
    width: 40%;
}
.datath2
{
    width: 25%;
}
.datath3
{
    width: 20%;
}
.datath4
{
    width: 15%;
}
.inputs
{
    width: 100%;
}
.addButton
{
    width: 100%;
    text-align: right;
}
.addFormFields
{
    width: 95%;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}
.btnDel
{
    text-align: right;
    clear: both;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    color: #fff !important;
    margin-left:15px;
}
.topFields
{
    width: 100%;
}
.topFields
{
    margin-top: 10px;
}
.nodata
{
    text-align: center;
    width: 100%;
}
.bottom_fields
{
    width: 100%;
    margin-top: 10px;
}
.datath1 span
{
    font-size: 10px;
    color: #0073aa;
}
.imgdis img
{
    cursor: pointer;
}


.addButtonGlobal {
    text-align: right;
    width: 98%;
}
.datathpro1 { width: 20%;}
.datathpro2 { width: 20%;}
.datathpro3 { width: 20%;}
.datathpro4 { width: 10%;}
.datathpro5 { width: 10%;}
.datathpro6 { width: 10%;}
.datathpro7 { width: 10%;}


#info-nav{
    margin: 0;
    padding: 0;
    width: 98%;
    list-style: none;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    padding-left: 10px;
}
#info-nav li{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #e4e4e4;
    border-color: #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #555;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: -4px 4px -1px 0;
    padding: 4px 14px 6px;
    text-decoration: none;
}

#info-nav li a
{
    color:#555;
    text-decoration:none;
    text-align:center;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 10px;
}
#info-nav li.nocurrent{ 
    background: none repeat scroll 0 0 #e4e4e4 !important;
    border-bottom: 1px solid #f1f1f1;
    color: #555;
}
#info-nav li.current{ 
    background: none repeat scroll 0 0 #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    color: #000;
}
#info-nav li.current:hover{ 
    background: none repeat scroll 0 0 #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    color: #000;
}
#info-nav li:hover{ 
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #ccc;
    color: #000;
}


.alert
{
    width: auto;
    padding: 10px !important;
    margin: 10px !important;
}

.addFormats {
    width: 100%;
    text-align: center;
}
.addFormats input[type="text"] {
    width: 100%;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.addFormats label {
    position:relative;
}
label.inputclass:hover .enlarge {
    display: block;
}
label .enlarge {
    position: absolute;
    z-index: 2;
    display: none;
    max-height:200px;
    max-width:200px;
    object-fit: contain;
    background:white;
    padding:5px;
}
